<div id="content">
  <h3>RxJS - Mario</h3>
  <p>Originally developed by <a href="https://twitter.com/fudalalala">Daniel Fudala</a>
    on
    <a href="https://github.com/fudini/fudini.github.io/blob/master/rx/mario.html">GitHub</a>

  </p>
  <p>This is the RxJS version of <a href="http://elm-lang.org/edit/examples/Intermediate/Mario.elm">Mario.elm</a></p>
  <p>Use arrow keys to move.</p>
  <p>
    <a href="https://github.com/fudini/fudini.github.io/blob/master/rx/mario.html">Source</a>
  </p>

  <h4>Infos:</h4>

  <p>deltaT {{deltasMovingAverage$ | async}}</p>
  <p>moveVector {{moveVector$ | async | json}}</p>
  <p>Keyboard: {{keyboard$ | async | json}}</p>
  <p>Mario: {{marios$ | async | json}}</p>

  <div id="grass" #grass></div>
  <img id="mario" #mario src="img/stand-right.gif">

</div>

